version: '3'

networks:
  backend:
    driver: bridge

services:

  # ----------------------------------------------------------------------------
  maildev:
    env_file:
      - ./barge/barge.env
    build:
      context: ./barge/docker-files/maildev
    ports:
      - ${MAILDEV_HTTP_PORT}:80
      - ${MAILDEV_SMTP_PORT}:25
    networks:
      - backend

  # ----------------------------------------------------------------------------
  mongodb:
    env_file:
      - ./barge/barge.env
    build:
      context: ./barge/docker-files/mongodb
    environment:
      - MONGO_INITDB_ROOT_USERNAME=${MONGODB_ROOT_USER}
      - MONGO_INITDB_ROOT_PASSWORD=${MONGODB_ROOT_PASSWORD}
      - MONGO_INITDB_DATABASE=${MONGODB_DEFAULT_DATABASE}
    ports:
      - ${MONGODB_PORT}:27017
    volumes:
      - ${HOST_DATA_PATH}/mongodb:/data/db
      - ${HOST_DATA_PATH}/mongodb:/data/configdb
      - ${HOST_LOGS_PATH}/mongodb:/var/log/mongodb
    networks:
      - backend

  # ----------------------------------------------------------------------------
  mysql:
    env_file:
      - ./barge/barge.env
    build:
      context: ./barge/docker-files/mysql
    environment:
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
    volumes:
      - ${HOST_DATA_PATH}/mysql:/var/lib/mysql
      - ${HOST_LOGS_PATH}/mysql:/var/log/mysql
    ports:
      - ${MYSQL_PORT}:3306
    networks:
      - backend

  # ----------------------------------------------------------------------------
  nginx:
    env_file:
      - ./barge/barge.env
    build:
      context: ./barge/docker-files/nginx
    volumes:
      - ./barge/docker-files/nginx/ssl/:/etc/nginx/ssl
      - ./barge/docker-files/nginx/sites/:/etc/nginx/sites
      - ${HOST_APP_PATH}:/var/www/acme
    ports:
      - ${NGINX_HOST_HTTP_PORT}:80
      - ${NGINX_HOST_HTTPS_PORT}:443
    depends_on:
      - php-api
    networks:
      - backend

  # ----------------------------------------------------------------------------
  php-fpm:
    env_file:
      - ./barge/barge.env
    build:
      context: ./barge/docker-files/php-fpm
      args:
        - PHP_VERSION=${PHP_VERSION}
        - PHP_INSTALL_XDEBUG=${PHP_INSTALL_XDEBUG}
    expose:
      - 9000
    volumes:
      - ${HOST_LOGS_PATH}/php-api:/var/log/php-fpm
      - ${HOST_APP_PATH}:/var/www/acme
    extra_hosts:
      - dockerhost:${DOCKER_HOST_IP}
    networks:
      - backend

  # ----------------------------------------------------------------------------
  php-queue-worker:
    env_file:
      - ./barge/barge.env
    build:
      context: ./barge/docker-files/php-queue-worker
      args:
        - PHP_VERSION=${PHP_VERSION}
    volumes:
      - ${HOST_APP_PATH}:/var/www/acme
    extra_hosts:
      - dockerhost:${DOCKER_HOST_IP}
    networks:
      - backend

  # ----------------------------------------------------------------------------
  php-scheduler:
    env_file:
      - ./barge/barge.env
    build:
      context: ./barge/docker-files/php-scheduler
      args:
        - PHP_VERSION=${PHP_VERSION}
    volumes:
      - ${HOST_APP_PATH}:/var/www/acme
    extra_hosts:
      - dockerhost:${DOCKER_HOST_IP}
    networks:
      - backend

  # ----------------------------------------------------------------------------
  redis:
    env_file:
      - ./barge/barge.env
    build:
      context: ./barge/docker-files/redis
    volumes:
      - ${HOST_DATA_PATH}/redis:/var/lib/redis
      - ${HOST_LOGS_PATH}/redis:/var/log/redis
    ports:
      - ${REDIS_PORT}:6379
    networks:
      - backend

  # ----------------------------------------------------------------------------
  app:
    env_file:
      - ./barge/barge.env
    build:
      context: ./barge/docker-files/app
      args:
        - PHP_VERSION=${PHP_VERSION}
    volumes:
      - ${HOST_APP_PATH}:/var/www/acme
    networks:
      - backend
    depends_on:
      - mongodb
      - mysql
      - nginx
      - redis

