version: "3"

services:

  # ----------------------------------------------------------------------------

  maildev:
    build:
      context: ./docker-files/maildev
    ports:
      - ${MAILDEV_HTTP_PORT}:80
      - ${MAILDEV_SMTP_PORT}:25

  # ----------------------------------------------------------------------------

  mongodb:
    build:
      context: ./docker-files/mongodb
    environment:
      - MONGO_INITDB_ROOT_USERNAME=${MONGODB_ROOT_USER}
      - MONGO_INITDB_ROOT_PASSWORD=${MONGODB_ROOT_PASSWORD}
      - MONGO_INITDB_DATABASE=${MONGODB_DEFAULT_DATABASE}
    ports:
      - ${MONGODB_PORT}:27017
    volumes:
      - ./data/mongodb:/data/db
      - ./data/mongodb:/data/configdb
      - ./logs/mongodb:/var/log/mongodb

  # ----------------------------------------------------------------------------

  mysql:
    build:
      context: ./docker-files/mysql
    environment:
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
    volumes:
      - ./data/mysql:/var/lib/mysql
      - ./logs/mysql:/var/log/mysql
    ports:
      - ${MYSQL_PORT}:3306

  # ----------------------------------------------------------------------------

  nginx:
    build:
      context: ./docker-files/nginx
    volumes:
      - ..:/var/www/acme
      - ./logs/nginx:/var/log/nginx
    ports:
      - ${NGINX_HOST_HTTP_PORT}:80
      - ${NGINX_HOST_HTTPS_PORT}:443
    depends_on:
      - php-fpm

  # ----------------------------------------------------------------------------

  php-fpm:
    build:
      context: ./docker-files/php-fpm
      args:
        - PHP_VERSION=${PHP_VERSION}
        - PHP_INSTALL_XDEBUG=${PHP_INSTALL_XDEBUG}
    expose:
      - 9000
    volumes:
      - ..:/app/acme
      - ./logs/php-fpm:/var/log/php-fpm

  # ----------------------------------------------------------------------------

  php-worker:
    build:
      context: ./docker-files/php-worker
      args:
        - PHP_VERSION=${PHP_VERSION}
    volumes:
      - ..:/app/acme

  # ----------------------------------------------------------------------------

  php-scheduler:
    build:
      context: ./docker-files/php-scheduler
      args:
        - PHP_VERSION=${PHP_VERSION}
    volumes:
      - ..:/app/acme

  # ----------------------------------------------------------------------------

  redis:
    build:
      context: ./docker-files/redis
    volumes:
      - ./data/redis:/var/lib/redis
      - ./logs/redis:/var/log/redis
    ports:
      - ${REDIS_PORT}:6379

  # ----------------------------------------------------------------------------

  workbench:
    build:
      context: ./docker-files/workbench
      args:
        - PHP_VERSION=${PHP_VERSION}
    volumes:
      - ..:/app/acme
    depends_on:
      - mysql
      - mongodb
      - redis
