version: '3'

networks:
  backend:
    driver: bridge

services:

  # ----------------------------------------------------------------------------

  maildev:
    build:
      context: ./docker-files/maildev
    ports:
      - ${MAILDEV_HTTP_PORT}:80
      - ${MAILDEV_SMTP_PORT}:25
    networks:
      - backend

  # ----------------------------------------------------------------------------

  mongodb:
    build:
      context: ./docker-files/mongodb
    environment:
      - MONGO_INITDB_ROOT_USERNAME=${MONGODB_ROOT_USER}
      - MONGO_INITDB_ROOT_PASSWORD=${MONGODB_ROOT_PASSWORD}
      - MONGO_INITDB_DATABASE=${MONGODB_DEFAULT_DATABASE}
    ports:
      - ${MONGODB_PORT}:27017
    volumes:
      - ${HOST_DATA_PATH}/mongodb:/data/db
      - ${HOST_DATA_PATH}/mongodb:/data/configdb
      - ${HOST_LOGS_PATH}/mongodb:/var/log/mongodb
    networks:
      - backend

  # ----------------------------------------------------------------------------

  mysql:
    build:
      context: ./docker-files/mysql
    environment:
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
    volumes:
      - ${HOST_DATA_PATH}/mysql:/var/lib/mysql
      - ${HOST_LOGS_PATH}/mysql:/var/log/mysql
    ports:
      - ${MYSQL_PORT}:3306
    networks:
      - backend

  # ----------------------------------------------------------------------------

  nginx:
    build:
      context: ./docker-files/nginx
    volumes:
      - ${HOST_APP_PATH}:/var/www/acme
      - ${HOST_LOGS_PATH}/nginx:/var/log/nginx
    ports:
      - ${NGINX_HOST_HTTP_PORT}:80
      - ${NGINX_HOST_HTTPS_PORT}:443
    depends_on:
      - php-fpm
    networks:
      - backend

  # ----------------------------------------------------------------------------

  php-fpm:
    build:
      context: ./docker-files/php-fpm
      args:
        - PHP_VERSION=${PHP_VERSION}
        - PHP_INSTALL_XDEBUG=${PHP_INSTALL_XDEBUG}
    expose:
      - 9000
    volumes:
      - ${HOST_APP_PATH}:/var/www/acme
      - ${HOST_LOGS_PATH}/php-fpm:/var/log/php-fpm
    extra_hosts:
      - dockerhost:${DOCKER_HOST_IP}
    networks:
      - backend

  # ----------------------------------------------------------------------------

  php-worker:
    build:
      context: ./docker-files/php-worker
      args:
        - PHP_VERSION=${PHP_VERSION}
    volumes:
      - ${HOST_APP_PATH}:/var/www/acme
    extra_hosts:
      - dockerhost:${DOCKER_HOST_IP}
    networks:
      - backend

  # ----------------------------------------------------------------------------

  php-scheduler:
    build:
      context: ./docker-files/php-scheduler
      args:
        - PHP_VERSION=${PHP_VERSION}
    volumes:
      - ${HOST_APP_PATH}:/var/www/acme
    extra_hosts:
      - dockerhost:${DOCKER_HOST_IP}
    networks:
      - backend

  # ----------------------------------------------------------------------------

  redis:
    build:
      context: ./docker-files/redis
    volumes:
      - ${HOST_DATA_PATH}/redis:/var/lib/redis
      - ${HOST_LOGS_PATH}/redis:/var/log/redis
    ports:
      - ${REDIS_PORT}:6379
    networks:
      - backend

  # ----------------------------------------------------------------------------

  workbench:
    build:
      context: ./docker-files/workbench
      args:
        - PHP_VERSION=${PHP_VERSION}
    volumes:
      - ${HOST_APP_PATH}:/var/www/acme
    networks:
      - backend
    depends_on:
      - mysql
      - mongodb
      - redis
